Options +FollowSymLinks
RewriteEngine on

# URL rewrites
RewriteRule ^cuadro/(.+)$ /ampliar.html?$1
RewriteRule ^painting/(.+)$ /painting.html?$1
RewriteRule ^cuadro2/(.+)$ /ampliar2.html?$1
RewriteRule ^cuadros-oleo/(.+)$ /ampliar_ambientes.html?$1